.overlay {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1200;
}


.modal {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: calc(100vw - 96px);
    max-height: calc(100vh - 48px);
    overflow: auto;
}